<% include ./generic.ejs %>
<h2> Films from this Person </h2>
<% data = films; %>
<% include ../partials/array.ejs %>
<h2> Characters played by this person</h2>
<% data = persona; %>
<% include ../partials/array.ejs %>
