<% include ./generic.ejs %>
<h2> Actors in this production</h2>
<% data = actors; %>
<% include ../partials/array.ejs %>
<h2> Crew in this production</h2>
<% data = people; %>
<% include ../partials/array.ejs %>
