<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
	<li><a href="/">Home page</a></li>
	<li><a href="/query">Run SQL query</a></li>
	<li><a href="#">Run Queries from milestone 1</a></li>
	<li><a href="#">Run Queries from milestone 2</a></li>
  </ul>
</div>
