<div class="jumbotron">
	<h1>Semester project in DBMS</h1>
	<h2>Group 7</h2>
	<ul>
		<li>Guillaume Leclerc</li>
		<li>Pedro Amorim Caldeira</li>
		<li>Matvey Khokhlov</li>
	</ul>
	<br/>
	Use the navbar to explore the project.
</div>
